.layout {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.infoBarContainer {
  padding: 10px 10px 0 10px;
}

.menuBar {
  padding: 10px 10px 0 10px;
}

.menuBar.hidden {
  display: none;
}

.menuBar .logoLink {
  line-height: 0;
}

.content {
  flex: 1;
  min-height: min-content;
  position: relative;
  overflow: hidden;
  display: flex;
}

.siteName {
  font-size: 13px;
  line-height: 17px;
  color: #5f6989;
}

.betaTag {
  margin-left: 5px;
  font-family: var(--font-body);
  font-size: 6px;
  font-weight: 500;
  line-height: 8px;
  color: #5879f0;
  padding: 4px 5px;
  background: rgba(88, 121, 240, 0.2);
  border-radius: 2px;
  text-transform: uppercase;
}
